*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
}

header h1{
    padding: 1rem;
    color: azure;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size:2.7rem;
}

.botao{
    padding: 0rem;
    margin: 0rem;
    text-align: right;
}

.quadro1{
    padding: 1rem;
    margin: 2rem;
}


.zoom1{
    position: absolute;
    width: 50px; 
    height: 50px; 
    border: 2px solid red; 
    top: 240px; 
    left: 260px;
    transition: 1s;
}

.zoom1:hover{
    height: 70px;
    width: 70px;
    border: 4px solid red;
}